.home-case-studies {
    overflow: hidden;
    background-image: linear-gradient(rgba(6, 12, 33, 0), rgb(6, 12, 33) 81%, rgba(6, 12, 33, 0.54));
}
.slider-main_component.max-width-full {
    width: 100%;
}
.slider-main_inner-wrapper {
    position: relative;
}
.swiper.is-slider-main {
    z-index: 1;
    position: relative;
    overflow: visible;
}
.max-width-full {
    max-width: none;
}
.swiper-wrapper.is-slider-main {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.swiper-slide.is-slider-main {
    width: 33.3333%;
    flex: 0 0 auto;
}
.slider-main_link {
    width: 100%;
    position: relative;
    top: 0px;
    transition: top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.w-input, .w-select, a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}


.slider-main_img-height {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.slider-main_img-height {
    width: 100%;
    padding-top: 114%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.slider-main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: transform 0.4s ease 0s;
}

.slider-main_text-wrapper {
    opacity: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -97px;
    display: flex;
    position: relative;
    top: 24px;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 6%;
    transition: top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, opacity 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.swiper-slide.is-active .slider-main_link {
    top: -18px;
}
.slider-main_link {
    width: 100%;
    position: relative;
    top: 0px;
    transition: top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.swiper-slide.is-active .slider-main_img {
    transform: scale(1.2);
}
.swiper-slide.is-active .gradient-overlay-grid {
    height: 50%;
    opacity: 1;
}
.slider-main_button-icon.is-reversed {
    transform: rotate(-180deg);
}
.slider-main_arrow.swiper-next {
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
    transform: none;
}
.slider-main_arrow.swiper-prev {
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
    transform: none;
}
.heading_style-h4 {
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    line-height: 1.1;
}
.margin-small {
    margin: 1rem;
}
.text-weight-normal {
    font-weight: 400;
}
.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.sr-only {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.slider-main_button-icon {
    width: 30%;
    height: 55%;
}
.slider-main_button-icon {
    width: 30%;
    height: 55%;
}
.gradient-overlay-grid {
    height: 50%;
    opacity: 1;
    background-image: linear-gradient(rgba(6, 12, 33, 0), rgb(6, 12, 33));
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, height 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.slider-main_arrow {
    z-index: 2;
    width: 6em;
    height: 6em;
    color: #fff;
    background-color: transparent;
    border: 2px solid #2130ff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    transition: all .2s;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
    transform: translate(-50%);
}
.slider-main_arrow.swiper-next {
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
    transform: none;
}    
@media (max-width:767px){
    .slider-main_arrow.swiper-prev {
        top: auto;
        bottom: -91px;
        left: 0%;
        right: auto;
    }
    .slider-main_arrow {
        width:40px;
        height: 40px;
    }
}
@media (max-width:479px){
    .slider-main_arrow.swiper-next, .slider-main_arrow.swiper-prev {
        bottom: 5px;
    }
    .slider-main_text-wrapper{
        top: -2px;
        opacity: 1;
    }
    .swiper-slide.is-active .slider-main_text-wrapper {
        opacity: 0 !important;
    }
    .swiper-slide .slider-main_link {
        top: -18px;
    }
    .swiper-slide.is-active .slider-main_link {
        top: -10px;
    }
}